.profile {
  margin: 3rem auto;
  text-align: center;
  width: 40%;
  background-color: var(--color-grey-100);
  padding: var(--size-4);
  border-radius: 6px;
}

.profile h1 {
  font-size: 3rem;
}

.delete {
  background-color: var(--color-primary-400);
  color: #eee;
  border: none;
  padding: var(--size-2) 15px;
  border-radius: 5px;
}

.delete:hover {
  cursor: pointer;
  background-color: tomato;
}
